.app{
    display: flex;
    flex-direction: row;
}



.navbar{
    width: 80px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid;
}

.listchat{
    position: relative;
    width: 500px;
    height: 100vh;
    background-color: white;
    overflow: auto;
}

.discussion {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    border: 1px;
    overflow: auto;
}

@media (max-width : 700px) {
    .app{
        display: flex;
        flex-direction: column;
    }

    .navbar{
        width: 100vw;
        background-color: #8aba67;
        height: auto;
    }

    .listchat{
        width: 100vw;
    }

    .discussion{
        display: none;
        position: absolute;
        background-image: url("/public/backgroundtest.jpeg");
        background-size: 2000px;
    }
}